.todo-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    height: min-content;
    border-radius: 10px 10px 0 0;
    margin-top: -40px;
    overflow: hidden;
}   