$clr-primary-bright-blue: #3a7bfd;
$clr-bg-gradient: linear-gradient(to right, #57ddff, #c058f3);

$clr-dark-blue: #161722;
$clr-darkD-blue: #25273c;
$clr-grayish-blue: #cacde8;
$clr-grayish-blue-hover: #e4e5f1;
$clr-dark-grayish-blue: #777a92;
$clr-vDark-grayish-blue: hsl(233, 14%, 35%); // #4d5066

//font

$font-family: 'Josefin Sans', sans-serif;