@import './header';
@import './body';
@import './variables';
@import './todo';
@import './icon';
@import './todoContainer';
@import './config';
@import './todoCounter';
@import './filterTodo';

body{
    color: $clr-dark-blue;
    font-family: $font-family;
    min-height: 100vh;
    width: 100%;
}

#root{
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 37% auto
}